.h-wrapper{
   
   color: white;
   z-index: 99;
   margin-top: 5rem;
}
.h-container{
    justify-content: space-between;
    padding-top: 1rem;
    padding-bottom: 1rem;
    color: var(--secondary);
}

.h-menu{
    gap: 2rem;
}

.h-menu>*:hover{
   cursor: pointer; 
}
.butto {
    width: 150px;
    height: 50px;
    padding: 0.6rem 1.4rem;
    font-weight: 500;
    border-radius: 50px;
    border: 0;
    background-color: white;
    box-shadow: rgb(0 0 0 / 5%) 0 0 8px;
    letter-spacing: 1.5p2;
    text-transform: uppercase;
    font-size: 13px;
    transition: all .5s ease;
   }
.butto:hover {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 7px 29px 0px;
   }
   
.butto:active {
    letter-spacing: 3px;
    background-color: hsl(261deg 80% 48%);
    color: hsl(0, 0%, 100%);
    box-shadow: rgb(93 24 220) 0px 0px 0px 0px;
    transform: translateY(10px);
    transition: 100ms;
   }
   .menu{
    gap: 2rem;
   }
   .h-menu>*:hover{
    cursor: pointer;
   }
   .menu-icon{
    display: none ;
   }
   @media (max-width : 768px){
    .menu-icon{
        display: block;
    }
    .h-menu{
        color: var(--absolute);
        position: absolute;
        top: 3rem;
        right: 4rem;
        background: white;
        flex-direction: column;
        font-weight: 500;
        gap: 2rem;
        padding: 3rem;
        border-radius: 10px;
        align-items: flex-start;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.05);
        transition: all 300ms ease-in;
        z-index: 99;
    }
   }