.cc-container{
  gap:5rem;

    background-image:
    linear-gradient(180deg,white,rgb(241, 235, 235)) 
    ;

}
.c-wrapper{
  margin-top: 2rem;
}
.cc-container>img{
   width: 9rem; 
   flex-wrap:nowrap ;
   justify-content: space-around; 
   gap: 5rem;

}

.heres{
    
    color: rgb(140 139 139);
    font-size: 1.3rem;
    margin-right: 35%;
    margin-left: 35%;
}