.r-container{
    overflow: hidden;
    position: relative;
  }
  .r-head{
     margin-bottom: 2rem;
     margin: 10px;

 
  }
  .myspan{
    margin-top: 3rem;
 }
 .j-head>:nth-child(2){
   font-family: var(--font-stack-heading-serif);
    font-weight: 600;
    font-size: 2.4rem;
    line-height: 1.35;
    letter-spacing: -.02rem;
    max-width: 36em;
    color: black;
    margin-bottom: 1.5rem;
 }
 .slider{
   display: grid;
   grid-template-columns: repeat(3, 1fr);  /* Each card takes up 1/3 of the available space with some spacing */
   grid-gap: 10px;
  
}
.r-card>:nth-child(2){
   color: black;
}