.App{
    position: relative;
    overflow-x: clip;

}
.App>:nth-child(1){
    background-color: var(--black);
    position: relative;

}
.white-gradiant{
    position: absolute;
    width: 20rem;
    height: 20rem;
    background: rgba(250, 246, 17, 0.582);
    filter: blur(100px);
    border-radius: 100px;
}