.v-container .image-container{
    border: 8px solid rgb(233, 232, 232 / 93%);
}
.v-container>div{
    flex: 1; /* the items will grow and shrink y3ni ghykbro btasawi o ghy9smo espace binathom*/

}
.v-right{
    gap:1rem;
}
.accordion{
    margin-top: 2rem;
    border: none;

}
.accordionItem{
    background: white;
    border: 0.8px solid rgba(128, 128, 128, 0.143);
    border-radius: 8px;
    margin-bottom: 20px;
    overflow: hidden;
    transition:.5s ease all ;
}
.accordionItem.expanded{
    box-shadow: var(--shadow);
    border-radius: 6px;
}


.accordionButton{
    background-color: rgb(243, 238, 238);
    padding: 1rem ;
    width: 100%;
    justify-content: space-between;
    cursor: pointer;
}
.icon{
    padding: 10px;
    background-attachment: fixed;
    background: #eeeeff;
    border-radius: 5px;

}
.icon svg{
    fill :var(--blue)
}
.accordionButton .primaryText{
    font-size: 1.1rem;
}